<div class="container my-5">
    <h1 class="mb-3">Employees</h1>
    <table class="table"  *ngIf="employees && employees.length > 0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employees of employees">
                <td>{{employees.id}}</td>
                <td>{{employees.name}}</td>
                <td>{{employees.email}}</td>
                <td>{{employees.phone}}</td>
                <td>{{employees.salary}}</td>
                <td>{{employees.department}}</td>
                <td><a [routerLink]="['/employees','edit',employees.id]">View</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!employees || employees.length <= 0 ">Employees Not Found!</p>

</div>
